nav {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 0 150px;
    color: white;
    background: #85858556;
    align-items: center;
    ul {
        display: flex;
       align-items: center;
       cursor: pointer;
       font-family: inter;
       font-weight: 600;
       font-size: 0.6rem;
       text-transform: uppercase;
       letter-spacing: 1px;
       height: 50px;
       li {
        padding: 0 15px;
        align-items: center;
        height: 100%;
        margin: auto 0;
        }
        li:hover {
            background: white;
            color: black;
            text-align: center;       }
    }
    .nav_icones {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}