.button {
    display: block;
    padding: 8px 20px;
    font-size: 0.5rem;
    background-color: white;
    border-color: solid black;
    border-width: 1.5px;
    font-family: inter;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}